* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.benefits {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.benefits h2,
.benefits p {
    color: azure;
}

.benefits p {
    padding: 0px 63px;
}

@media (max-width: 1024px) {
    .benefits p {
        padding: 0px 30px;
    }
}


@media (max-width: 768px) {

    .benefits h2 {
        width: 101%;
    }

    .benefits p {
        padding: 0px 1px;
        font-size: 13px;
    }

    
}

