* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 80px;
}

.logo-container ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
}

.logo-container ul li {
    list-style: none;
    cursor: pointer;
    color: hsl(0, 0%, 60%);
}