* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.p {
    color: azure;
    margin-bottom: 1.4em;
}

h5, small {
    color: azure;
}

.founder{
    width: 30px;
    border-radius: 50%;
}

.test {
    background:  hsl(219, 30%, 18%);
    padding: 40px 30px 30px 30px;
    border-radius: 4px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.test-container {
    display: flex;
    align-items: center;
    gap: .7em;
}

@media  (max-width: 1024px) {
    .p {
        font-size: 12px;
    }
}

@media  (max-width: 768px) {
    .p {
        font-size: 10px;
        text-align: left;
    }

    .test {
        padding: 40px 20px 20px 20px;
    }

    small {
        font-size: 10px;
    }
}

@media (max-width: 425px) {
    .p {
        font-size: 12px;
    }
}