* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.landing-container {
    background-color:  hsl(217, 28%, 15%);
}

.inner-container {
    background-image: url('../images/bg-curvy-desktop.svg');
    background-position: center top 730px;
    background-repeat: no-repeat;
    background-size: auto;
}

.intro-section {
    margin: 0px auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro-img {
    margin: 2em 0em;
}

.intro-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 260px;
    text-align: center;
}

.intro-inner p {
    padding: 0px 54px;
    line-height: 1.4;
    margin: 1.4em 0em;
}

.intro-inner h1, 
.intro-inner p {
    color: azure;
}

.bck {
    background:  hsl(218, 28%, 13%);
    margin-top: -4em;
}

.benefits-container {
    margin: 17em auto 10em auto;
    width: 80%;
    display: grid;
    grid-template-columns: auto auto;
    gap: 4em;
    padding-top: 2em;
}

.productive-container {
    width: 85%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    gap: 2em;
}

.productive-container h1 {
    color: azure;
    max-width: 80%;
    margin-bottom: 1em;
}

.productive-container p {
    color: azure;
    margin-bottom: 1em;
}

.arr {
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsl(176, 68%, 64%);
    gap: .3em;
    border-bottom: 1px solid hsl(176, 68%, 64%);
    width: 32%;
    cursor:pointer;
}

.productive-container img {
    margin-top: 2px;
    margin-bottom: 0px;
}

.testimonial-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 2em;
    margin:  8em auto 20em auto ;
    width: 90%;
}

.footer-container {
    background: hsl(216, 53%, 9%);
    position: relative;
}

.early {
    background:  hsl(217, 28%, 15%);
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    width: 65%;
    text-align: center;
    padding: 20px 50px 35px 50px;
    border-radius: 12px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: -30%;
    z-index: 1;
}

.early h1 {
    color: azure;
    padding: 15px 0px; 
}

.early p {
    padding: 0px 20px;
}



.signup-container {
    display: flex;
    align-items: center;
    gap: 1.2em;
}

.input-container {
   
    height: 6vh;
    border-radius: 25px;
    cursor: pointer;
    border: none;
    background: #fff;
    display: flex;
    align-items: center;
    flex: 1;
}

.signup-input {
   width: 100%;
   border: none;
   outline: none;
   margin: 0px 12px;
}

.signup-input::placeholder {
    
}