* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.landing-container {
    background-color:  hsl(217, 28%, 15%);
}

.inner-container {
    background-image: url('../images/bg-curvy-desktop.svg');
    background-position: center top 730px;
    background-repeat: no-repeat;
    background-size: auto;
}

.intro-section {
    margin: 0px auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro-img {
    margin: 2em 0em;
}

.intro-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 260px;
    text-align: center;
}

.intro-inner p {
    padding: 0px 54px;
    line-height: 1.4;
    margin: 1.4em 0em;
}

.intro-inner h1, 
.intro-inner p {
    color: azure;
}

.bck {
    background:  hsl(218, 28%, 13%);
    margin-top: -4em;
}

.benefits-container {
    margin: 17em auto 10em auto;
    width: 80%;
    display: grid;
    grid-template-columns: auto auto;
    gap: 4em;
    padding-top: 2em;
}

.productive-container {
    width: 85%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    gap: 2em;
}

.productive-container h1 {
    color: azure;
    max-width: 80%;
    margin-bottom: 1em;
}

.productive-container p {
    color: azure;
    margin-bottom: 1em;
}

.arr {
    display: inline-block;
    color: hsl(176, 68%, 64%);
    border-bottom: 1px solid hsl(176, 68%, 64%);
    cursor:pointer;
}

.arr-1 {
    margin-bottom: -4px;
    margin-left: 3px;
}

.arr:hover {
    color: azure;
    border-bottom: 1px solid azure;
}



.testimonial-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 2em;
    margin:  8em auto 20em auto;
    width: 90%;
    position: relative;
    z-index: 0;
}

.quotes {
    position: absolute;
    left: -13px;
    top: -33px;
    z-index: -1;
}

.footer-container {
    background: hsl(216, 53%, 9%);
    position: relative;
}

.early {
    background:  hsl(217, 28%, 15%);
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    width: 65%;
    text-align: center;
    padding: 20px 50px 35px 50px;
    border-radius: 12px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: -30%;
    z-index: 1;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.checker {
    z-index: 1;
    padding-top: 7px !important;
    padding-left: 10px !important;
    display: flex;
    justify-content: flex-start;
    color: red;
    display: none;
}

.early h1 {
    color: azure;
    padding: 15px 0px; 
}

.early p {
    padding: 0px 20px;
    color: azure;
    margin-bottom: 1.4em;
}



.signup-container {
    display: flex;
    align-items: center;
    gap: 1.2em;
}

.input-container {
   
    padding: 10px 25px;
    border-radius: 25px;
    cursor: pointer;
    border: none;
    background: #fff;
    display: flex;
    align-items: center;
    flex: 1;
}

.signup-input {
   width: 100%;
   border: none;
   outline: none;
   margin: 0px 12px;
}

@media (max-width: 1024px) {
    .intro-inner {
        padding: 0px 110px;
    }

    .prodo {
        width: 340px;
    }
}


@media (max-width: 768px) {
    .intro-inner {
        padding: 0px 30px;
    }

    .benefits-container {
        align-items: baseline;
    }

    .prodo {
        width: 260px;
    }
    
    .early {
        width: 80%;
    }

    .productive-container h1 {
        margin-bottom: .3em;
    }
}

@media (max-width:425px) {

    .early {
        top: -25%;
        width: 85%;
        padding: 20px 20px 35px 20px
    }

    .early h1 {
        font-size: 22px;
    }

    .early p {
        padding: 0px 15px;
    }

    .signup-container {
        display: block;
    }

    .input-container {
        margin-bottom: 1.3em;
        padding: 18px 25px;
    }

    .testimonial-container {
        flex-direction: column;
        width: 85%;
    }

    .productive-container {
        flex-direction: column;
    }

    .prodo {
        width: 325px;
    }

    .benefits-container {
        grid-template-columns: auto;
        margin: -10em auto 10em auto;
        padding-top: 15em;
    }

    .inner-container {
        background-image: url('../images/bg-curvy-mobile.svg');
        background-size: contain;
        background-position: center top 464px;
    }

    .intro-section {
        width: 90%;
    }

    .intro-inner h1 {
        font-size: 26px;
    }

    .intro-inner p {
        padding: 0px 0px;
        font-size: 16px;
    }

    .intro-img {
        width: 390px;
    }

    .bck {
        margin-top: 1.9em;
    }
}

@media (max-width: 375px) {

    .intro-img {
        width: 360px;
    }

    .bck {
        margin-top: .1em;
    }
    
    .intro-inner h1 {
        font-size: 22px;
    }

    .intro-inner p {
        font-size: 14px;
    }

    .inner-container {
        background-position: center top 393px;
    }
}

@media (max-width: 325px) {

    .intro-img,
    .prodo {
        width: 300px;
    }

    .bck {
        margin-top: .1em;
    }

    
    .intro-inner h1 {
        font-size: 20px;
    }

    .intro-inner p {
        font-size: 12px;
    }

    .inner-container {
        background-position: center top 386px;
    }

    .productive-container h1 {
        max-width: 100%;
    }
}

@media (max-width: 320px) {

    .bck {
        margin-top: 3em;
    }

    .intro-inner {
        padding: 0px 15px;
    }

    .early h1 {
        font-size: 17px;
    }

    .early p {
        font-size: 12px;
        padding: 0px 10px;
    }
}

@media (max-width: 280px) {
    .intro-img,
    .prodo {
        width: 265px;
    }

    .inner-container {
        background-position: center top 375px;
    }

}